/*

## Component: Layout

*/



@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/frontend/app/assets/sass/variables/_standard.scss';


/*

### Box sizing

Setup all elements with `box-sizing:border-box` (this includes the padding in the element width)

```css
*,
*:before,
*:after {
    box-sizing: border-box;
}
```


*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*

### Float/sizing for `.lo-` prefixed element

```css
@mixin floatAndStandardSpacing(){
    float: left;
    margin-bottom: 2rem;
    padding: 0 2rem;
}
```


*/
@mixin floatAndStandardSpacing(){
    float: left;
    margin-bottom: 2rem;
    padding: 0 2rem;
}


/*

### Layout classes


Sets the layout up using the `.lo-` prefix. The following options are available:


- .lo-full{} (100% width of the parrent)
- .lo-half{} (50% width of the parrent)
- .lo-quarter{}  (25% width of the parrent)
- .lo-auron-1-3{} (38.2% width of the parrent)
- .lo-auron-2-3{} (61.8% width of the parrent)
- .lo-one-third{} (33% width of parrent)
- .lo-two-thirds{} (66% width of parrent)


*/

/*

#### Examples:


<div class="c-bg-pink lo-full">Full width element</div>
<div class="c-bg-pink lo-half">half width element</div>
<div class="c-bg-aqua lo-half">half width element</div>
<div class="c-bg-aquablue lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-quarter">quarter width element</div>
<div class="c-bg-purple lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-auron-1-3">lo-auron-1-3 width element</div>
<div class="c-bg-seagreen lo-auron-2-3">lo-auron-2-3 width element</div>
<div class="c-bg-purple lo-one-third">lo-one-third width element</div>
<div class="c-bg-pink lo-two-thirds">lo-two-thirds width element</div>

```
<div class="c-bg-pink lo-full">Full width element</div>
<div class="c-bg-pink lo-half">half width element</div>
<div class="c-bg-aqua lo-half">half width element</div>
<div class="c-bg-aquablue lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-quarter">quarter width element</div>
<div class="c-bg-purple lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-quarter">quarter width element</div>
<div class="c-bg-pink lo-auron-1-3">lo-auron-1-3 width element</div>
<div class="c-bg-seagreen lo-auron-2-3">lo-auron-2-3 width element</div>
<div class="c-bg-purple lo-one-third">lo-one-third width element</div>
<div class="c-bg-pink lo-two-thirds">lo-two-thirds width element</div>
```

*/

.lo-full,
.lo-half,
.lo-quarter,
.lo-auron-1-3,
.lo-auron-2-3,
.lo-one-third,
.lo-two-thirds {
    @include floatAndStandardSpacing;
}

html,
#body,
.body {
    width: 100%;
}

//html {
//    width: 100%;
//}

#body,
.body {
    //padding-top: 4rem;
    min-height: 80rem;
    overflow-x: hidden;
}

#main,
.main {
    padding-top: 4rem;
}

#header,
.header,
#main,
.main,
#footer,
.footer {
    max-width: 104rem;
    margin: 0 auto;
    // IE11 fix since it lacks UA styling
    display: block;
}

#content,
.content {
    padding-left: 2rem;
    min-height: 30rem;
    > header {
        position: relative;
        min-height: 7rem;
    }
}

#main,
.main{
  footer header {
    h2 {
        padding-left: 2rem;
    }
  }
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

html.index {
    .lo-full,
    .lo-half,
    .lo-auron-1-3,
    .lo-auron-2-3 {
        header {
            h2 {
                float: left;
            }
        }
    }
}

header.lo-full {
    padding-left: 0;
}

#content,
.content,
#sidebar,
.sidebar {
    padding-top: 2rem;
}

@include mq($until: small) {
    .lo-full,
    .lo-half,
    .lo-quarter,
    .lo-auron-1-3,
    .lo-auron-2-3,
    .lo-one-third,
    .lo-two-thirds {
        width: 100%;
    }
    #main,
    .main {
        padding-top: 6rem;
    }
    #people,
    #calendar,
    #research,
    #news {
        padding: 0 1rem;
    }
    #people {
        .lo-full {
            padding: 0;
        }
    }
    #calendar {
        .lo-half {
            width: 50%;
            padding: 0;
        }
    }
    #research,
    #news {
        .lo-quarter {
            padding: 0;
        }
    }
}

@include mq($from: small, $until: large) {
    .lo-full {
        width: 100%;
    }
    .lo-half {
        width: 50%;
        padding: 0 2rem;
    }
    .lo-one-third {
        width: 100%;
        padding: 0 2rem;
    }
    .lo-two-thirds {
        width: 100%;
        padding: 0 2rem;
    }
    .lo-quarter {
        width: 50%;
        padding: 0 2rem;
    }
    .lo-auron-1-3 {
        width: 100% * 0.382;
        padding: 0 2rem;
    }
    .lo-auron-2-3 {
        width: 100% * 0.618;
        //width: 100%;
    }
    #people,
    #calendar,
    #research,
    #news {
        padding: 0 1rem;
    }
    #people {
        .lo-full {
            padding: 0;
        }
    }
    #calendar {
        .lo-half {
            width: 50%;
            padding: 0;
        }
    }
    #research,
    #news {
        .lo-quarter {
            padding: 0 .5rem;
        }
    }
}

@include mq($from: large) {

    .lo-full {
        width: 100%;
    }
    .lo-half {
        width: 50%;
        padding: 0 2rem;
    }
    .lo-quarter {
        width: 25%;
        padding: 0 2rem;
    }
    .lo-auron-1-3 {
        width: 100% * 0.382;
        padding: 0 2rem;
    }
    .lo-auron-2-3 {
        width: 100% * 0.618;
    }
    .lo-one-third {
        width: 31%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0 2rem;
    }
    .lo-two-thirds {
        width: 62%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0 2rem;
    }
    .lo-first {
        padding-left: 0;
    }
    .lo-last {
        padding-right: 0;
    }
    .lo-auron-2-3 {
        .lo-quarter {}
        .lo-first {
            padding-left: 0;
        }
        .lo-last {
            padding-right: 0;
        }
    }
    #people,
    #calendar {
        padding-top: 2rem;
    }
}
